/*
!.gitignore
!/mu-plugins/
!/plugins/
!/themes/

!.readme.md

/plugins/akismet
/plugins/hello.php

/themes/twentytwentytwo
/themes/twentytwentythree
/themes/twentytwentyfour
/themes/twentytwentyfive

/themes/fallfull/static

/plugins/advanced-custom-fields
/plugins/contact-form-7
/plugins/show-current-template
/plugins/woocommerce
/plugins/redux-framework